<div class="modal modal-blur fade" id="modal-small" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
        <div class="modal-title">{{ "Delete Confirmation" |trans }}</div>
        <div>{{ "Are you sure you want to delete? This action cannot be undone."|trans}} </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">
        {{ "Cancel" |trans }}
        </button>
        <a href="#" class="btn btn-primary" id="delete-href" >
        {{ "Confirm" |trans }}</a>
        </div>
    </div>
    </div>
</div>

