.category-panel{
    align-items: center;
    background-color: var(--tblr-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    color: var(--tblr-accordion-btn-color);
    display: flex;
    font-size: .875rem;
    overflow-anchor: none;
    padding: var(--tblr-accordion-btn-padding-y) var(--tblr-accordion-btn-padding-x);
    position: relative;
    text-align: left;
    transition: var(--tblr-accordion-transition);
    width: 100%;
}

.row-icon-left{
    width: 50px!important;
}