<div class="accordion" id="accordion-example">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
                Lieferant Eins
            </button>
        </h2>
        <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
            <div class="accordion-body pt-0">

                <fieldset class="form-fieldset">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label class="form-label">EK (netto) beim Lieferanten</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label required">Artikel-Nr beim Lieferanten</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label">Typische Lieferzeit</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </fieldset>

                <div class="mt-3">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">Offene Bestellungen beim Lieferanten</h3>
                        </div>

                        <div class="list-group list-group-flush list-group-hoverable">

                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col text-truncate">
                                        <a href="#" target="_blank" class="text-reset d-block">Bestellung vom 22.03.2024</a>
                                        <div class="d-block text-secondary text-truncate mt-n1">
                                            Bestellt von: Max Mustermann
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col text-truncate">
                                        <a href="#" target="_blank" class="text-reset d-block">Bestellung vom 22.03.2024</a>
                                        <div class="d-block text-secondary text-truncate mt-n1">
                                            Bestellt von: Max Mustermann
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
                Lieferant Zwei
            </button>
        </h2>
        <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
            <div class="accordion-body pt-0">

                <fieldset class="form-fieldset">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label class="form-label">EK (netto) beim Lieferanten</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label required">Artikel-Nr beim Lieferanten</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label">Typische Lieferzeit</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
    </div>

</div>

<hr/>

<div class="card mt-3">
    <div class="card-body text-end">
        <div class="d-flex">
            <select class="form-select" style="width: 50%">
                <option value="1">Lieferant 1</option>
                <option value="2">Lieferant Two</option>
                <option value="3">Lieferant Three</option>
            </select>
            <button type="submit" class="btn btn-primary ms-auto">Lieferant hinzufügen</button>
        </div>
    </div>
</div>