<div class="accordion" id="accordion-example">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
                Mobiliar / Möblierung
            </button>
        </h2>
        <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example" style="">
            <div class="accordion-body pt-0">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Bänke</a>
                    <a href="#" class="list-group-item list-group-item-action">Ruheliegen</a>
                    <a href="#" class="list-group-item list-group-item-action">Tische</a>
                    <a href="#" class="list-group-item list-group-item-action">Bank Tischkombinationen</a>
                    <a href="#" class="list-group-item list-group-item-action">Unterstang</a>
                    <a href="#" class="list-group-item list-group-item-action">Toilette</a>
                    <a href="#" class="list-group-item list-group-item-action">Entsorgungseinrichtungen</a>
                    <a href="#" class="list-group-item list-group-item-action">Spielplätze</a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
                Leitsystem / Beschilderung
            </button>
        </h2>
        <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-example" style="">
            <div class="accordion-body pt-0">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Infotafeln</a>
                    <a href="#" class="list-group-item list-group-item-action">Panormatafeln</a>
                    <a href="#" class="list-group-item list-group-item-action">Wegweiser</a>
                    <a href="#" class="list-group-item list-group-item-action">Schaukästen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
                Befestigungsmaterial
            </button>
        </h2>
        <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion-example" style="">
            <div class="accordion-body pt-0">
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Träger</a>
                    <a href="#" class="list-group-item list-group-item-action">Kleinmaterial Befestigung</a>
                </div>
            </div>
        </div>
    </div>
</div>