{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            Anlegen & verwalten
                        </div>
                        <h2 class="page-title">
                            Artikel anlegen</h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-12">
                        <form action="{{ path('artikel-anlegen') }}" method="post">
                            <div class="card">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-12">

                                            <div class="mb-3">
                                                {# <label class="form-label required">Artikelnummer</label> #}
                                                <input type="text" class="form-control" name="example-text-input" placeholder="Artikelnummer">
                                            </div>
                                            <div class="mb-3">
                                                {# <label class="form-label required">Produktbezeichnung</label> #}
                                                <input type="text" class="form-control" name="example-text-input" placeholder="Produktbezeichnung">
                                            </div>
                                            <div class="mb-3">
                                                {# <label class="form-label required">Produktbeschreibung kurz</label> #}
                                                <input type="text" class="form-control" name="example-text-input" placeholder="Produktbeschreibung kurz">
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-label">Hersteller</div>
                                                <select class="form-select">
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-label">Produktbild</div>
                                                <input type="file" class="form-control">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Produktbeschreibung lang
                                                    <span class="form-label-description">56/100</span></label>
                                                <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Content..">
                                                </textarea>
                                            </div>

                                            <div class="mb-3">
                                                <div class="form-label">Select multiple states</div>
                                                <select type="text" class="form-select" id="select-states" value="" multiple>
                                                    <option value="AL">Alabama</option>
                                                    <option value="AK">Alaska</option>
                                                    <option value="AZ" selected>Arizona</option>
                                                    <option value="OR">Oregon</option>
                                                    <option value="PA">Pennsylvania</option>
                                                    <option value="RI">Rhode Island</option>
                                                    <option value="SC" selected>South Carolina</option>
                                                    <option value="SD">South Dakota</option>
                                                    <option value="WV">West Virginia</option>
                                                    <option value="WI">Wisconsin</option>
                                                    <option value="WY" selected>Wyoming</option>
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox">
                                                    <span class="form-check-label">Dieser Artikel ist ein Proudktset</span>
                                                </label>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="card-footer text-end">
                                    <div class="d-flex">
                                        <a href="{{ path('verwaltung_benutzer') }}" class="btn btn-link">Abbrechen</a>
                                        <button type="submit" class="btn btn-primary ms-auto">Speichern</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
