<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter card-table table-striped">
            <thead>
            <tr>
                <th>Lager</th>
                <th>Vorhanden</th>
                <th>Angefordert</th>
                <th>Bestellt</th>
                <th class="w-1"></th>
                <th class="w-1"></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lager Hinterhof 22</td>
                    <td class="text-secondary">235</td>
                    <td class="text-secondary">112</td>
                    <td class="text-secondary">12</td>
                    <td>
                        <a href="#" class="btn btn-primary w-100">Einbuchen</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger w-100">Ausbuchen</a>
                    </td>
                </tr>
                <tr>
                    <td>Lager Hinterhof 22</td>
                    <td class="text-secondary">235</td>
                    <td class="text-secondary">112</td>
                    <td class="text-secondary">12</td>
                    <td>
                        <a href="#" class="btn btn-primary w-100">Einbuchen</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger w-100">Ausbuchen</a>
                    </td>
                </tr>
                <tr>
                    <td>Lager Hinterhof 22</td>
                    <td class="text-secondary">235</td>
                    <td class="text-secondary">112</td>
                    <td class="text-secondary">12</td>
                    <td>
                        <a href="#" class="btn btn-primary w-100">Einbuchen</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger w-100">Ausbuchen</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
