<div class="mb-3">
    <label class="form-check form-switch">
        <input class="form-check-input" type="checkbox">
        <span class="form-check-label">{{ "This item is a set"|trans }}</span>
    </label>
</div>

<div class="col-12">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{ "Items in set"|trans }}</h3>
        </div>

        <div class="list-group list-group-flush list-group-hoverable">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="#" target="_blank">
                            <span class="avatar" style="background-image: url(/misc/img/dev-item.jpg)"></span>
                        </a>
                    </div>
                    <div class="col text-truncate">
                        <a href="#" class="text-reset d-block">Produktname Trallala</a>
                        <div class="d-block text-secondary text-truncate mt-n1">
                            Hier steht die Kurzbeschreibung<br/>
                            ArtNr: 12345
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 7l16 0"/>
                                <path d="M10 11l0 6"/>
                                <path d="M14 11l0 6"/>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" target="_blank">
                                <span class="avatar" style="background-image: url(/misc/img/dev-item.jpg)"></span>
                            </a>
                        </div>
                        <div class="col text-truncate">
                            <a href="#" class="text-reset d-block">Produktname Trallala</a>
                            <div class="d-block text-secondary text-truncate mt-n1">
                                Hier steht die Kurzbeschreibung<br/>
                                ArtNr: 12345
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 7l16 0"/>
                                    <path d="M10 11l0 6"/>
                                    <path d="M14 11l0 6"/>
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group list-group-flush list-group-hoverable mt-3">
            <div class="list-group-item">
                <div class="row align-items-center">
                    <label class="form-label">{{ "Add item to set"|trans }}</label>
                    <select type="text" class="form-select" id="select-people" value="">
                        <option value="3" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(/misc/img/dev-item.jpg)&quot;&gt;&lt;/span&gt;">Mallory Hulme</option>
                        <option value="4" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(/misc/img/dev-item.jpg)&quot;&gt;&lt;/span&gt;">Dunn Slane</option>
                        <option value="17" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(/misc/img/dev-item.jpg)&quot;&gt;&lt;/span&gt;">Dyann Escala</option>
                        <option value="18" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(/misc/img/dev-item.jpg)&quot;&gt;&lt;/span&gt;">Avivah Mugleston</option>
                        <option value="19" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;AA&lt;/span&gt;">Arlie Armstead</option>
                        <option value="20" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(/misc/img/dev-item.jpg)&quot;&gt;&lt;/span&gt;">Tessie Curzon</option>
                    </select>
                </div>
            </div>
        </div>


    </div>

</div>