<div class="mb-3">
    {# <label class="form-label required">Artikelnummer</label> #}
    <input type="text" class="form-control" name="example-text-input" placeholder="{{ "ItemNo"|trans }}">
</div>

<div class="mb-3">
    {# <label class="form-label required">Produktbezeichnung</label> #}
    <input type="text" class="form-control" name="example-text-input" placeholder="{{ "Item name"|trans }}">
</div>

<div class="mb-3">
    <div class="form-label">{{ "Manufacturer"|trans }}</div>
    <select class="form-select">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>

<div class="mb-3">
    <div class="form-label">{{ "Infrastructure type"|trans }}</div>
    <select class="form-select">
        <option value="1">Schild</option>
        <option value="2">Steg</option>
        <option value="3">Unterstand</option>
        <option value="3">Furt</option>
        <option value="3">Brücke</option>
        <option value="3">Geländer</option>
        <option value="3">Seilsicherung</option>
        <option value="3">Info-Tafel</option>
        <option value="3">Brunnen</option>
        <option value="3">Orientierungs-Tafel</option>
        <option value="3">Markierungen</option>
        <option value="3">Haltestellen</option>
        <option value="3">Rad-Hinweistafel</option>
        <option value="3">Hundetoilette</option>
        <option value="3">Mülleimer</option>
        <option value="3">Bank</option>
        <option value="3">Sitzgruppe</option>
        <option value="3">QR-Code</option>
        <option value="3">Wetterkreuz</option>
    </select>
</div>

<div class="mb-3">
    {# <label class="form-label required">Produktbeschreibung kurz</label> #}
    <input type="text" class="form-control" name="example-text-input" placeholder="Produktbeschreibung kurz">
</div>

<div class="mb-3">
    <label class="form-label">Produktbeschreibung lang</label>
        <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Content.."></textarea>
</div>

<div class="row mb-3">
    <div class="col-12 col-md-6">

        <fieldset class="form-fieldset">
            <div class="mb-3">
                <label class="form-label">VK (brutto)</label>
                <input type="text" class="form-control" autocomplete="off">
            </div>

            <div class="mb-3">
                <select class="form-select">
                    <option value="">Normaler Steuersatz</option>
                    <option value="">Ermäßigter Steuersatz</option>
                </select>
            </div>
        </fieldset>

    </div>
    <div class="col-12 col-md-6">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kompatibel mit</h3>
            </div>

            <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <a href="#" target="_blank">
                                <span class="avatar" style="background-image: url(/misc/img/dev-item.jpg)"></span>
                            </a>
                        </div>
                        <div class="col text-truncate">
                            <a href="#" class="text-reset d-block">Produktname Trallala</a>
                            <div class="d-block text-secondary text-truncate mt-n1">
                                Hier steht die Kurzbeschreibung<br/>
                                ArtNr: 12345
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="list-group-item-actions">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M4 7l16 0"/>
                                    <path d="M10 11l0 6"/>
                                    <path d="M14 11l0 6"/>
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="list-group list-group-flush list-group-hoverable">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a href="#" target="_blank">
                                    <span class="avatar" style="background-image: url(/misc/img/dev-item.jpg)"></span>
                                </a>
                            </div>
                            <div class="col text-truncate">
                                <a href="#" class="text-reset d-block">Produktname Trallala</a>
                                <div class="d-block text-secondary text-truncate mt-n1">
                                    Hier steht die Kurzbeschreibung<br/>
                                    ArtNr: 12345
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="list-group-item-actions">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon text-secondary" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M4 7l16 0"/>
                                        <path d="M10 11l0 6"/>
                                        <path d="M14 11l0 6"/>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group list-group-flush list-group-hoverable mt-3">
                <div class="list-group-item">
                    <div class="row align-items-center">
                        <label class="form-label">Kompatibles Produkt hinzufügen</label>
                        <select type="text" class="form-select" id="select-people" value="">
                            <option value="1" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/000m.jpg)&quot;&gt;&lt;/span&gt;">Paweł Kuna</option>
                            <option value="2" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;JL&lt;/span&gt;">Jeffie Lewzey</option>
                            <option value="3" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/002m.jpg)&quot;&gt;&lt;/span&gt;">Mallory Hulme</option>
                            <option value="4" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/003m.jpg)&quot;&gt;&lt;/span&gt;">Dunn Slane</option>
                            <option value="17" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/005f.jpg)&quot;&gt;&lt;/span&gt;">Dyann Escala</option>
                            <option value="18" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/006f.jpg)&quot;&gt;&lt;/span&gt;">Avivah Mugleston</option>
                            <option value="19" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot;&gt;AA&lt;/span&gt;">Arlie Armstead</option>
                            <option value="20" data-custom-properties="&lt;span class=&quot;avatar avatar-xs&quot; style=&quot;background-image: url(./static/avatars/008f.jpg)&quot;&gt;&lt;/span&gt;">Tessie Curzon</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="mb-3">
    <div class="form-label">Tags wählen</div>
    <select type="text" class="form-select" id="select-states" value="" multiple>
        <option value="">Tag One</option>
        <option value="" selected>Tag Zwei</option>
        <option value="">Tag Three</option>
        <option value="" selected>Tag Four</option>
        <option value="">Tag Five</option>
        <option value="" selected>Tag Six</option>
        <option value="">Tag Seven</option>
        <option value="" selected>Tag Eight</option>
    </select>
</div>

<div class="mb-3">
    <label class="form-label required">Größe</label>
    <input type="text" class="form-control" name="example-text-input" placeholder="Größe">
</div>

<div class="mb-3">
    <label class="form-label required">Transport-Größe</label>
    <input type="text" class="form-control" name="example-text-input" placeholder="Transport-Größe">
</div>

<div class="mb-3">
    <label class="form-label required">Transport-Hinweis</label>
    <input type="text" class="form-control" name="example-text-input" placeholder="Transport-Hinweis">
</div>

<div class="mb-3">
    <label class="form-label">Technische Informationen</label>
    <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Content.."></textarea>
</div>


