{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            {{ "Create & edit"|trans }}
                        </div>

                          {% if id is defined and id is not empty %}
                        <h2 class="page-title">
                            {{ "Edit manufacturer"|trans }}</h2>
                            {% else %}
                        <h2 class="page-title">
                            {{ "Add manufacturer"|trans }}</h2>
                            {% endif %}
                     
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-12">
                       
                        <div class="card">
                            <div class="card-body">
                                {% include "form/commonbuilder.html.twig" with {cancelUrl: path('administration_manufacturer')} %}
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
