{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            Anlegen & verwalten
                        </div>
                        <h2 class="page-title">
                            Lieferanten</h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{{ path('administration_suppliers-create') }}" class="btn btn-primary">
                                Neuen Lieferanten anlegen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-vcenter table-mobile-md card-table">
                                    <thead>
                                    <tr>
                                        <th>Lieferanten-Name</th>
                                        <th>Lieferanten-Website</th>
                                        <th class="w-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <tr>
                                        <td data-label="Name">
                                            Lieferanten Name
                                        </td>
                                        <td data-label="Name">
                                            <a href="https://www.google.de" target="_blank">www.google.de</a>
                                        </td>
                                        <td>
                                            <div class="btn-list flex-nowrap">
                                                <a href="{{ path('administration_suppliers-edit', { lieferantenid: 123 }) }}" class="btn">
                                                    Bearbeiten
                                                </a>
                                            </div>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
